* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;

  min-height: 100dvh;
  max-width: 100dvh;
  width: 100vw;
  overflow: hidden;

  background-color: #0c0c0c;
  color: #fafafa;
}

a {
  text-decoration: none;
  color: chocolate;
  font-size: 1.2rem;
}

p {
  font-size: 1.4rem;
}

h1 {
  font-size: 4rem;
}

textarea {
  background-color: #fafafa33;
  color: #fafafa;
  font-size: 1rem;
}

input[type="submit"] {
  padding: 12px 24px;
  background-color: #fafafa33;
  color: #fafafa;
  border: 1px solid #fafafa;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 12px;
  transition: 0.3s ease-in-out;
}

input[type="submit"]:hover {
  background-color: #fafafa;
  color: #0c0c0c;
  border: 1px solid #fafafa;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  list-style-type: none;
}

ul li a {
  font-size: 4rem;
}
